@charset "UTF-8"
*{
   font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #f0bb8e, #D9CCC1);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(99, 56, 40, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #BF6415;
    text-align: center;
    text-shadow: 1px 1px 2px #4d2808af;

}

h2 {
     color: #8C503A;
}

p {
    text-align: justify;
}